.about {
  padding: 80px 60px;
  background-image: url(../../../image/futuristic_digital_interface_800_wht.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .team-values {
    @include flex-center;
    flex-direction: column;
    color: $light-color;
    margin: 130px;
    .team {
      font-weight: bold;
      font-size: 65px;
    }
    .value{
      font-size: 20px;
      color:orangered;
    }
  }
}
// .hero {
//   text-align: center;
//   color: white;
//   position: relative;
//   z-index: 1;
//   padding: 50px 20px;

//   h1 {
//     font-size: 3rem;
//     margin-bottom: 20px;
//   }

//   p {
//     font-size: 1rem;
//     margin-bottom: 40px;
//     max-width: 600px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   button {
//     padding: 15px 30px;
//     font-size: 1rem;
//     border: 2px solid #00fffa;
//     background: transparent;
//     color: #00fffa;
//     cursor: pointer;
//     border-radius: 5px;
//     transition: all 0.3s ease;
//   }

//   button:hover {
//     background-color: #00fffa;
//     color: #000;
//   }
// }

// .background-blur {
//   position: absolute;
//   width: 100%;
//   height: 80%;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   overflow: hidden;
// }

// .background-blur::before {
//   content: "";
//   position: absolute;
//   width: 500px;
//   height: 500px;
//   background: orangered;
//   filter: blur(200px);
//   top: 20%;
//   left: 10%;
//   opacity: 0.6;
//   border-radius: 50%;
// }

// .background-blur::after {
//   content: "";
//   position: absolute;
//   width: 500px;
//   height: 500px;
//   background: teal;
//   filter: blur(200px);
//   top: 50%;
//   left: 60%;
//   opacity: 0.6;
//   border-radius: 50%;
// }

// .section {
//   text-align: center;
//   padding: 40px 10px;
//   max-width: 1100px;
//   margin: auto;

//   h5 {
//     color: #e74c3c;
//     font-size: 14px;
//     letter-spacing: 2px;
//     text-transform: uppercase;
//     margin-bottom: 10px;
//   }

//   h2 {
//     font-size: 30px;
//     margin-bottom: 15px;
//     color: orangered;
//   }

//   p {
//     font-size: 15px;
//     color: #666;
//     line-height: 1.6;
//   }

//   .grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     gap: 30px;
//     margin-top: 40px;

//     .card {
//       background: #fff;
//       padding: 25px;
//       border-radius: 12px;
//       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
//       text-align: left;
//       transition: transform 0.2s;

//       .icon {
//         font-size: 28px;
//         color: #e74c3c;
//         margin-bottom: 15px;
//       }

//       .card h3 {
//         font-size: 18px;
//         margin-bottom: 10px;
//         color: #111;
//       }

//       .card p {
//         font-size: 14px;
//         color: #555;
//         line-height: 1.5;
//       }
//     }

//     .card:hover {
//       transform: translateY(-5px);
//     }

//   }
// }